#container{
	font-family: 'Comfortaa', sans-serif;
	font-size: 18px;
	margin: 0 auto;
	margin-top: 40px;
	padding: 30px;
	width: 350px;
}

.campo{
	border: solid 4px #cece76;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 35px;
	width: 300px;
}

.boton{
	background: #849175;
	border: solid 0;
	color: #fff;
	padding: 10px;
}

.errores{
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	-o-box-shadow: 0 0 10px rgba(0,0,0,0.3);
	background: red;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	color: #fff;
	display: none;
	font-size: 14px;
	margin-top: -80px;
	margin-left: 340px;
	padding: 10px;
	position: absolute;
}