body{
	background: url("fondoindex.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 0;
}

#logo{
	cursor: pointer;
	margin-top: -9px;
	width: 170px;
	height: 40px;
}

#menu ul{
	margin-left: 20px;
}
#menu li .item{
	text-align: center;
}

#cuadro_sesion{
	padding: 10px;
	background-color: #222222;
	border-width: 0.5px; 
	border-color: white;
	box-shadow: 8px 8px 8px 8px rgba(0,0,0,0.3);
}

.lab_se{
	color: white;
}

.container{
	margin-top: 40px;
}

#cuerpo{
	font-size: 18px;
	margin-top: 100px;
}

table form{
	color: black;
}

#myModal{
	color: black;
}

#lista{
	background: rgba(0,0,0,0.5);
	height: 300px;
	float: left;
	border-radius: 10px;
}

#lista h1{
	text-align: center;
}

.scroll {
	overflow-y: scroll;
}

#carrito{
	background: rgba(0,0,0,0.5);
	height: 300px;
	float: left;
	border-radius: 10px;
}

#carrito h3 {
    font-size: 22px;
    font-family: UnitedSans,tahoma,helvetica,arial,sans-serif;
    color: #fff;
    text-transform: uppercase;
}



footer{
	background: rgba(0,0,0,0.5);
	height: 100px;
	text-align: center;
	font-size: 1.3em;
	color: white;
	letter-spacing: 2px;
	margin-top: 89px;
}